
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

.hero-section {
    background: url('foto/mainimage.jpg') no-repeat center center/cover;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}
.my-button {
    background-color: #5986a0;
    color: white;
    padding: 10px 20px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; 
    border: none;
    border-radius: 25px;
    cursor: pointer;
  }

  /* Hover effect */
  .my-button:hover {
    background-color: #49758f;
  }
  .about-us {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
  }

  .about-us .left-section,
  .about-us .right-section {
    flex: 1 1 45%;
    min-width: 300px;
  }

  .about-us h2 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }

  .about-us p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
  }

  .about-us .left-section img {
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .about-us .right-section .button {
    display: inline-block;
    background-color: #5986a0;
    color: white;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 25px;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
  }

  .about-us .right-section .button:hover {
    background-color: #49758f;
  }

  @media (max-width: 768px) {
    .about-us {
      flex-direction: column;
      padding: 20px;
    }

    .about-us .left-section,
    .about-us .right-section {
      flex: 1 1 100%;
      min-width: 100%;
    }
  }
.menu-item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Ensures footer stays at the bottom */
}
